version: '3.8'

services:
  pbsync:
    build: .
    container_name: pbsync
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse:/dev/fuse
