version: '3.8'

services:
  pbsync:
    build: .
    container_name: pbsync
    # BU SATIR KRİTİK: Mount işlemi için tam yetki verir
    privileged: true
    # Fuse ve Loop cihazlarına erişim izni
    devices:
      - /dev/fuse:/dev/fuse
      - /dev/loop-control:/dev/loop-control
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    restart: unless-stopped