version: '3.8'

services:
  pbsync:
    build: .
    container_name: pbsync
    # Sistem aygıtlarına tam erişim için:
    privileged: true
    # Ubuntu 24.04 FIX: AppArmor'u devre dışı bırak
    security_opt:
      - "apparmor:unconfined"
    # Host işlemlerini görebilmek için
    pid: "host"
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
      - MKNOD
    devices:
      - /dev/fuse:/dev/fuse
      - /dev/loop-control:/dev/loop-control
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      # Host'un disklerini içeri aktar (Kritik)
      - /dev:/dev
      - /run/udev:/run/udev:ro
    restart: unless-stopped