version: '3.8'

services:
  pbsync:
    build: .
    container_name: pbsync
    privileged: true
    security_opt:
      - "apparmor:unconfined"
    pid: "host" # KRİTİK: Host işlem uzayını kullan
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
      - MKNOD
    devices:
      - /dev/fuse:/dev/fuse
      - /dev/loop-control:/dev/loop-control
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - /dev:/dev
      - /run/udev:/run/udev:ro
      # YENİ: Mount klasörünü host ile paylaşıyoruz (Bidirectional)
      - /mnt:/mnt:rshared 
    restart: unless-stopped